*{
    box-sizing: border-box;
    line-height: 1.5em;
    font-size: 16px;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
}

nav{
    position: fixed;
    width: 100%;
    background-color: whitesmoke;
    padding: 18px;
    border-bottom: 3px solid lightgrey;
    margin-bottom: 30px;
    display: flex; 
    vertical-align: middle;
    z-index: 1030;
}
#logo{
    max-width: 100px; 
}

header{
     display: flex;
    flex-direction: column; 
    align-items: center;
    margin-bottom: 25px; 
    padding-top: 80px; 
}
#headerLogo{
    width: 200px;
    margin-top: 30px;
}

h1{
    font-size: 30px;
    padding: 14px 20px;
    font-family: 'Roboto', sans-serif; 
    font-weight: bold;
    letter-spacing: -0.09rem;
}

.openCollection{
    background-color: #cc0000;
    border: none;
    color: #ffffff;
    font-size: 16px;
    padding: 10px 14px;
    font-family: 'Roboto', sans-serif; 
    font-weight: bold;
    letter-spacing: -0.01rem;
    margin-top: 20px; 
    width: 70%;
}

#youtubeArrow{
    width: 30px;
}

#backToBtn{
    border: none;
    font-size: 18px;
    padding: 0;
    font-family: 'Roboto', sans-serif; 
    font-weight: bold;
    letter-spacing: -0.01rem;
    background-color: transparent;
    border: none;
    height: 20px;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
}
main{
    text-align: center;
    width: 100%;
    margin: auto;
    padding-top: 0;
    background-color: whitesmoke;
    border-top: 3px solid lightgrey;
}
.formTitle, h2, h3, h4 {
    font-size: 18px;
    font-weight: 700;
}
.playlistCollectionItemTitle{
    font-size: 18px;
    font-weight: 700;
    padding: 14px 20px;
}

ul{
    list-style: none;
}
.instructions{
    color: grey;
    padding-bottom: 10px;
}

 #playlistCollectionSection, #playlistVideosSection{
    align-items: center;
    border-bottom: 1px solid lightgrey;
    margin-top: 20px;
    padding-bottom: 20px;
}

.playlistsContainer, .playlistItemsDiv{ 
    align-items: center;
    display: flex;
    flex-direction: column;
}

.playlist, .playlistItem{
    width: 95%;
    margin-bottom: 20px;
} 

.playlistCollectionItemTitle{
    background: #ffffff;
    border-bottom: 1px solid lightgrey;
}
.playlistThumbnail{
    width: 100%;
}
.playlistFormOpener{
    background-color: #cc0000;
    border: none;
    color: #ffffff;
    font-size: 14px;
    padding: 10px 14px;
    font-family: 'Roboto', sans-serif; 
    font-weight: bold;
    letter-spacing: -0.05rem;
}
#playlistForm{
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    background-color: #ffffff;
    padding: 0 20px 14px 20px;
}
.playlistFormCloser{
    font-size: 20px;
    font-weight: bold;
    border: none;
    background-color: transparent;
    margin-left: 90%;
    padding-bottom: 0;
}
#exampleId{
    overflow: auto;
    white-space: nowrap;
    background-color: lightgrey;
    padding: 10px 14px;
}

.instructionLink{
    color: #065fd4;
}
.itemTitle{
    overflow: auto;
    white-space: nowrap;
}
#playlistSubmitButton{
    background-color: #065fd4;
    border: none;
    color: #ffffff;
    font-size: 14px;
    padding: 10px 14px;
    font-family: 'Roboto', sans-serif; 
    font-weight: bold;
    letter-spacing: -0.03rem;
    margin: 10px; 
}
.thumbnailAndTimestamps{
    width: 100%;
     display: flex;
    align-items: stretch; 
     flex-direction: row; 
     line-height: 0;
}
.videoThumbnail{
    display: inline-block;
     height: 100%; 
     width: 120px;
}

.timeStampList {
    display: inline-block;
   background-color: #ffffff;
    width: 100%; 
   font-size: initial;
    padding: 5px 10px;
    text-align: left;
    line-height: initial;
}


#videoPlayerSection{
    line-height: 0;
     margin: auto; 
     margin-top: 20px;
    padding-bottom: 20px;
}

#videoContainer{
height: 100%;
}
iframe{
    height: 250px;
    width: 100%;
} 

.videoTimeStampListContainer{
    background-color: #ffffff;
    line-height: initial;
    text-align: left;
    padding: 0 10px 10px 10px;
    border-top: 1px solid grey;
    width: 100%;
    margin: auto;
}
.videoTimeStampListContainer .timeStampList{
    height: initial;
}

.openTimeStampForm{
    font-weight: bold;
    border: none;
    background-color: transparent;
    color: grey;
}

 #timeStampForm{
    padding: 0;
    line-height: initial;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
} 

#timeStampForm .instructions{
text-align: center;
}

#timeStampForm *{
    border: none;
}
 .minInputContainer, .secInputContainer, .messageInputContainer{
    display: inline-block;
    /* text-align: center; */
    /* flex-basis: 0; */
    margin: 5px;
} 
.minInput, .secInput{
    width: 2em;
    padding: 0 5px;
    text-align: left; 
} 
.messageInputContainer{
    text-align: left;
    
}
.timeStampMessageInput{
    padding: 0 5px;
} 
#timeStampForm button{
    padding: 0 14px;
}
.nodisplay{
    display: none;
}

@media screen and (min-width:500px){
    .videoThumbnail{
     width: 200px; 
     }
     iframe{
        height: 350px;
        max-width: 800px;
    } 
    .videoTimeStampListContainer{
        max-width: 800px;
    }
    
}

@media screen and (min-width:700px){
    .openCollection{
        width: 30%;
    }
    .playlistCollectionItemTitle{
        font-size: 23px;
    }
    .playlist, .playlistItem{
        margin-bottom: 30px;
    } 
    .example{
        padding: 0;
    }
    .thumbnailAndTimestamps{
        flex-direction: column;
        align-items: center;
        margin: auto;
    }

    .videoThumbnail{
        width: 640px;
     } 
     .timeStampList{
         min-height: 100px;
         max-width: 640px; 
     }
     iframe{
         height: 500px;
     }
     .videoTimeStampListContainer .timeStampList{
         min-height: 0px;
     }
}

@media screen and (min-width:950px){
    .playlistsContainer, #playlistItemsDiv{ 
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
    .playlist, .playlistItem{
        width: 45%;
        margin-bottom: 20px;
    } 
    .videoThumbnail{
        width: 100%;
    }
    
}