*{
    box-sizing: border-box;
    line-height: 1.5em;
    font-size: 16px;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
}

nav{
    position: fixed;
    width: 100%;
    background-color: whitesmoke;
    padding: 18px;
    border-bottom: 3px solid lightgrey;
    margin-bottom: 30px;
}

header{
     display: flex;
    flex-direction: column; 
    align-items: center;
    margin-bottom: 25px; 
    padding-top: 80px; 

}

#logo{
     width: 30%; 
}

h1{
    font-size: 30px;
    padding: 14px 20px;
    font-family: 'Roboto', sans-serif; 
    font-weight: bold;
    letter-spacing: -0.09rem;
}
/* .backToCollection */
.openCollection{
    background-color: #cc0000;
    border: none;
    color: #ffffff;
    font-size: 16px;
    padding: 10px 14px;
    font-family: 'Roboto', sans-serif; 
    font-weight: bold;
    letter-spacing: -0.01rem;
    margin-top: 20px; 
    /* font-size: 30px; */
    width: 70%;
    
}


.backToCollection{
    margin: 10px;
    position: fixed;
    top:0;
    left: 0;
}

/* .backToCollection{
    background-color: #cc0000;
    border: none;
    color: #ffffff;
    font-size: 14px;
    padding: 10px 14px;
    margin: 10px;
    font-family: 'Roboto', sans-serif; 
    font-weight: bold;
    letter-spacing: -0.03rem;
    
} */



main{
    text-align: center;
    width: 100%;
    margin: auto;
    padding-top: 0;
    background-color: whitesmoke;
    border-top: 3px solid lightgrey;
}


.formTitle, h2, h3, h4 {
    font-size: 18px;
    font-weight: 700;
}

ul{
    list-style: none;
}

.instructions{
    color: grey;
    padding-bottom: 10px;
}

 #playlistCollectionSection, #playlistVideosSection{
    align-items: center;
    border-bottom: 1px solid lightgrey;
    margin-top: 20px;
    padding-bottom: 20px;
}

.playlistsContainer, .playlistItemsContainer{ 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playlist, .playlistItem{
    width: 95%;
    margin-bottom: 20px;
} 

.playlistCollectionItemTitle{
    background: #ffffff;
    border-bottom: 1px solid lightgrey;
}
.playlistThumbnail{
    width: 100%;
}
 .playlistFormOpener{
    background-color: #cc0000;
    border: none;
    color: #ffffff;
    font-size: 14px;
    padding: 10px 14px;
    font-family: 'Roboto', sans-serif; 
    font-weight: bold;
    letter-spacing: -0.05rem;
}
#playlistForm{
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    background-color: #ffffff;
    padding: 0 20px 14px 20px;
}
.playlistFormCloser{
    font-size: 20px;
    font-weight: bold;
    border: none;
    background-color: transparent;
    display: inline-block;
    position: relative;
    top: -8px;
    left: 130px; 
    padding-bottom: 0;
}
#exampleId{
    overflow: auto;
    white-space: nowrap;
    background-color: lightgrey;
    padding: 10px 14px;
}
#playlistSubmitButton{
    background-color: #065fd4;
    border: none;
    color: #ffffff;
    font-size: 14px;
    padding: 10px 14px;
    font-family: 'Roboto', sans-serif; 
    font-weight: bold;
    letter-spacing: -0.03rem;
    position: relative;
    left : 100px;
    top: 10px; 
    margin: 10px;
}
.thumbnailAndTimestamps{
    width: 100%;
    font-size: 0;
    display: flex;
    flex-direction: row;
    /* align-items: stretch; */
}
.videoThumbnail{
    display: inline-block;
}
.timeStampList {
    display: inline-block;
   background-color: #ffffff;
   height: 90px; 
    width: 100%; 
   font-size: initial;
    padding: 5px 10px;
    text-align: left;
}
#videoContainer{
    line-height: 0;
}

.videoTimeStampListContainer{
    background-color: #ffffff;
    line-height: initial;
    text-align: left;
    padding: 0 10px 5px 10px;
    margin-bottom: 15px;
}
.videoTimeStampListContainer .timeStampList{
    height: initial;
}

.openTimeStampForm{
    font-weight: bold;
    border: none;
    background-color: transparent;
    color: grey;
}

 #timeStampForm{
    /* margin-top: 20px; */
    padding: 14px;
    padding-top: 0;
    line-height: initial;
    text-align: left;
} 

#timeStampForm .instructions{
text-align: center;
}


.minInput, .secInput{
    max-width: 45px;
    padding: 0;
}

.timeStampMessageInput{
    padding: 0;
}


/* .playlistItem{
    margin: 20px;
    padding: 14px 20px;
    background-color: whitesmoke;
} */





/* #playlistForm{
    margin: 20px;
    border: 1px solid black;
    
} */

/* 

#videoContainer{
    margin: 20px;
    padding: 14px 20px;
} */





.nodisplay{
    display: none;
}

