*{
    box-sizing: border-box;
    line-height: 1.5em;
    font-size: 16px;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
}

nav{
    position: fixed;
    width: 100%;
    background-color: whitesmoke;
    padding: 18px;
    /* border-bottom: 3px solid lightgrey; */
    margin-bottom: 30px;
    display: flex; 
    vertical-align: middle;
    z-index: 1030;
    -webkit-box-shadow: 0px 1px 10px 1px rgba(0,0,0,0.5);
-moz-box-shadow: 0px 1px 10px 1px rgba(0,0,0,0.5);
 box-shadow: 0px 1px 10px 1px rgba(0,0,0,0.5);
}
#logo{
    max-width: 100px; 
}

header{
     /* display: flex;
    flex-direction: column; 
    align-items: center; */
    margin-bottom: 25px; 
    padding-top: 80px; 
    margin: auto;
    text-align: center;
}
#headerLogo{
    width: 200px;
    margin-top: 30px;
}

h1{
    font-size: 30px;
    padding: 14px 20px;
    font-family: 'Roboto', sans-serif; 
    font-weight: bold;
    letter-spacing: -0.09rem;
}

.openCollection{
    background-color: #cc0000;
    border: none;
    color: #ffffff;
    font-size: 18px;
    padding: 10px 14px;
    font-family: 'Roboto', sans-serif; 
    font-weight: bold;
    letter-spacing: -0.01rem;
    margin-top: 30px; 
    width: 70%;
    transition: transform 300ms;
    -webkit-box-shadow: -1px 4px 7px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 4px 7px 3px rgba(0,0,0,0.75);
    box-shadow: -1px 4px 7px 3px rgba(0,0,0,0.75);
}

.openCollection:hover{
    transform: scale(1.1);
    cursor: pointer;
    -webkit-box-shadow: -10px 10px 16px 4px rgba(0,0,0,0.75);
    -moz-box-shadow: -10px 10px 16px 4px rgba(0,0,0,0.75);
    box-shadow: -10px 10px 16px 4px rgba(0,0,0,0.75);
}


#youtubeArrow{
    width: 30px;
}

#playlistCollectionSectionOpener{
    border: none;
    font-size: 18px;
    padding: 0;
    font-family: 'Roboto', sans-serif; 
    font-weight: bold;
    letter-spacing: -0.01rem;
    background-color: transparent;
    border: none;
    height: 20px;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
}
main{
    text-align: center;
    width: 100%;
    margin: auto;
    padding-top: 0;
    /* background-color: whitesmoke;
    border-top: 3px solid lightgrey; */
}
.formTitle, h2, h3, h4 {
    font-size: 18px;
    font-weight: 700;
}
.playlistCollectionItemTitle{
    font-size: 18px;
    font-weight: 700;
    padding: 14px 20px;
}

ul{
    list-style: none;
}
.instructions{
    color: grey;
    padding-bottom: 10px;
}

 #playlistCollectionSection, #playlistVideosSection{
    align-items: center;
    border-bottom: 1px solid lightgrey;
    margin-top: 20px;
    padding-bottom: 20px;
}

.playlistsContainer, .playlistItemsContainer{ 
    align-items: center;
    display: flex;
    flex-direction: column;
}

.playlist, .playlistItem{
    width: 95%;
    margin-bottom: 20px;
    border: 1px solid whitesmoke;
    border-radius: 3px;
    /* box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .5); */
} 

 .playlist:hover, .playlistItem:hover{
     cursor: pointer;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .5);
} 

.playlistCollectionItemTitle{
    background: #ffffff;
    border-bottom: 1px solid lightgrey;
}
.playlistThumbnail{
    width: 100%;
}
.playlistFormOpener{
     background-color: #cc0000; 
    border: none;
    border-bottom: 3px solid #8a0f0f;
    color: #ffffff;
    font-size: 14px;
    text-shadow: 0px -2px #BD3E31;
    padding: 10px 14px;
    font-family: 'Roboto', sans-serif; 
    font-weight: bold;
    letter-spacing: -0.05rem;
    /* linear-gradient(hsl(0, 100%, 35%)5%lighter, hsl(0, 100%, 40%)#cc0000, hsl(0, 100%, 45%)5%darker); */
   background-image: linear-gradient(rgb(179, 0, 0), rgb(204, 0, 0), rgb(230, 0, 0));
}

.playlistFormOpener:hover{
    cursor: pointer;
    text-shadow: 0px 0px 10px white;
    background-image: linear-gradient(rgb(189, 0, 0), rgb(163, 0, 0), rgb(255, 0, 0));
}

.playlistFormOpener:active{
    top: 2px;
	transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}



#playlistForm{
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    background-color: #ffffff;
    padding: 0 20px 14px 20px;
}
.playlistFormCloser{
    font-size: 20px;
    font-weight: bold;
    border: none;
    background-color: transparent;
    margin-left: 90%;
    padding-bottom: 0;
}
#exampleId{
    overflow: auto;
    white-space: nowrap;
    background-color: lightgrey;
    padding: 10px 14px;
}

.instructionLink{
    color: #065fd4;
}
.itemTitle{
    overflow: auto;
    white-space: nowrap;
}
#playlistSubmitButton{
    background-color: #065fd4;
    border: none;
    border-bottom: 3px solid rgb(22, 76, 146);
    color: #ffffff;
    font-size: 14px;
    padding: 10px 14px;
    font-family: 'Roboto', sans-serif; 
    font-weight: bold;
    letter-spacing: -0.03rem;
    margin: 10px; 
    background-image: linear-gradient(rgb(7, 107, 237), #065fd4, rgb(6, 85, 188));
}

#playlistSubmitButton:hover{
    cursor: pointer;
    text-shadow: 0px 0px 10px white;
    background-image: linear-gradient(rgb(6, 91, 203), rgb(5, 78, 173), rgb(22, 120, 248));
}

#playlistSubmitButton:active{
    top: 2px;
	transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}


.thumbnailAndTimestamps{
    width: 100%;
    min-height: 90px;
     display: flex;
     align-items: stretch; 
     flex-direction: row; 
     line-height: 0;
}
.videoThumbnail{
    display: inline-block;
     height: 100%; 
      width: 120px; 
}

.timeStampList {
    display: inline-block;
   background-color: #ffffff;
    width: 100%; 
   font-size: initial;
    padding: 5px 10px;
    text-align: left;
    line-height: initial;
}


#videoPlayerSection{
    line-height: 0;
     margin: auto; 
     margin-top: 20px;
    padding-bottom: 20px;
}

#videoContainer{
height: 100%;
}
iframe{
    height: 250px;
    width: 100%;
} 

.videoTimeStampListContainer{
    background-color: #ffffff;
    line-height: initial;
    text-align: left;
    padding: 0 10px 10px 10px;
    border-top: 1px solid grey;
    width: 100%;
    margin: auto;
}
.videoTimeStampListContainer .timeStampList{
    height: initial;
}

.openTimeStampForm{
    font-weight: bold;
    border: none;
    background-color: transparent;
    color: grey;
}

 #timeStampForm{
    padding: 0;
    line-height: initial;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
} 

#timeStampForm .instructions{
text-align: center;
}

#timeStampForm *{
    border: none;
}
 .minInputContainer, .secInputContainer, .messageInputContainer{
    display: inline-block;
    flex-basis: 0;
    margin: 5px;
} 
.minInput, .secInput{
    width: 100%;
    padding: 0;
    text-align: center; 
} 
.messageInputContainer{
    text-align: left;
}
.timeStampMessageInput{
    padding: 0;
} 
#timeStampForm button{
    padding: 0 14px;
}
.nodisplay{
    display: none;
}

@media screen and (min-width:500px){
    .videoThumbnail{
     width: 200px; 
     }
     iframe{
        height: 350px;
        max-width: 800px;
    } 
    .videoTimeStampListContainer{
        max-width: 800px;
    }
    
}

@media screen and (min-width:700px){
    .openCollection{
        width: 30%;
    }
    .playlistCollectionItemTitle{
        font-size: 23px;
    }
    .playlist, .playlistItem{
        margin-bottom: 30px;
    } 
    .example{
        padding: 0;
    }
    .thumbnailAndTimestamps{
        flex-direction: column;
        align-items: center;
        margin: auto;
    }

    .videoThumbnail{
       width: 640px;
     } 
     .timeStampList{
         min-height: 100px;
         max-width: 640px; 
     }
     iframe{
         height: 500px;
     }
     .videoTimeStampListContainer .timeStampList{
         min-height: 0px;
     }
}

@media screen and (min-width:950px){
    .playlistsContainer, .playlistItemsContainer{ 
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }
    .playlist, .playlistItem{
        width: 45%; 
        margin-bottom: 20px;
    } 
    .playlistItem{ 
        margin: 20px;
    } 
    .timeStampList:not(.videoTimeStampListContainer.timeStampList){
        width: 420px;
    }
    .videoThumbnail{
        width: 420px;
    }
}

@media screen and (min-width:1200px){
    .playlist, .playlistItem{
        width: 300px; 
        margin: 20px;
    } 
    .timeStampList:not(.videoTimeStampListContainer.timeStampList){
        width: 300px;
    }
    .videoThumbnail{
        width: 300px;
    }

} 